@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$dark-grey: #353535;

$roboto: 'Roboto', sans-serif;

body {
	margin: 0;
}

h1, h2, h3, p, a {
	font-family: $roboto;
	margin: 0;
}

.title {
	font-weight: bold;
}

//***** LOCATION *****
.location {
	width: 100%;
	height: 48px;
	background-color: #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6px;
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.25);

	svg {
		fill: $dark-grey;
	}

	.location__text {
		text-align: center;
		margin-left: 8px;
		color: $dark-grey;
		font-weight: bold;
	}
}

//***** HERO *****
.hero {
	margin-top: 8px;
	height:fit-content;
	padding: 32px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-color: #f6f6f6;

	.hero__title {
		font-size: 28px;
		margin: 8px 0 8px 0;
	}

	.hero__text {
		font-size: 18px;
		color: $dark-grey;
		margin: 8px 0 8px 0;
	}

	.hero__button {
		padding: 16px;
		border-radius: 32px;
		text-decoration: none;
		color: white;
		background: $couleur-primaire;
		background: linear-gradient(355deg, $couleur-primaire 0%, $couleur-secondaire 100%);
		margin: 32px 0 32px 0;
		box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.15);
		transition: 150ms;

		&:hover {
			opacity: 75%;
			font-size: 16.1px;
		}
	}
}

//***** FONCTIONNEMENT *****
.fonctionnement {
	padding: 48px 24px 48px 24px;

	.fonctionnement__items {
		display: flex;
		flex-direction: column;

		.fonctionnement__items__item {
			background-color: #f6f6f6;
			padding: 24px;
			margin: 16px 0 16px 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			border-radius: 24px;
			box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05);
			-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05);
			-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.05);

			.fonctionnement__items__item__id {
				background-color: $couleur-primaire;
				padding: 4px 9px 4px 9px;
				border-radius: 50%;
				margin-left: -36px;
				color: white;
			}

			svg {
				fill: #7e7e7e;
				transform: scale(1.25);
				margin: 0 16px 0 16px;
			}

			.fonctionnement__items__item__title {
				font-size: 16px;
			}
		}
	}
}

//***** RESTAURANTS *****
.restaurants {
	background-color: #f6f6f6;
	padding: 48px 24px 48px 24px;

	.restaurants__cards {
		display: flex;
		flex-direction: column;
		margin-top: 32px;

		.restaurants__cards__card {
			width: 100%;
			height: 140px;
			margin-bottom: 96px;
			position: relative;
			border-radius: 24px 24px 0 0;
			box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.06);
			-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.06);
			-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.06);

			.restaurants__cards__card__nouveau {
				position: absolute;
				top: 12px;
				right: 12px;
				background-color: $couleur-tertiaire;
				color: #008161;
				padding: 6px 12px;
				border-radius: 4px;
				z-index: 1;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 24px 24px 0 0;
			}

			.restaurants__cards__card__content {
				border-radius: 0 0 24px 24px;
				background-color: white;
				padding: 12px;
				margin-top: -4px;
				position: relative;
				box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.06);
				-webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.06);
				-moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.06);

				.restaurants__cards__card__content__text {
					margin-top: 4px;
				}
			}

			svg {
				position: absolute;
				bottom: 24px;
				right: 16px;
				fill: black;
				transform: scale(1.25);
			}

			input[type=checkbox] {
				position: absolute;
				bottom:22px;
				right: 14px;
				opacity: 0;
				z-index: 4;
				transform:scale(1.33, 1.33);
				cursor: pointer;

				&:checked + .heart--selected {
					opacity: 1;
					z-index: 3;
					fill: url(#heart-gradient);
				}
			}

			.heart--selected {
				opacity: 0;
				z-index: 1;
				transition: 100ms;
			}

			.heart--default {
				z-index: 2;
			}
		}
	}
}

//***** TABLETS *****
@media (min-width:768px) {
	.location {
		margin-top: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	.hero {
		margin-top: 0;
	}

}